<%- include('partials/header') %>

<main style="text-align:center; padding:40px;">
    <h1>Aplicação MVC</h1>
    <p>Projeto em Node.js usando padrão MVC</p>

    <div style="margin-top:20px;">
        <a href="/produtos">Produtos</a> |
        <a href="/sobre">Sobre</a> |
        <a href="/contato">Contato</a>
    </div>
</main>

<%- include('partials/footer') %>
